/* ------- Default page layout style ------- */

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

/* Make main take all space */
body {
	padding: 0 10px;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

h1 {
	/* center the text */
	text-align: center;
	margin-top: auto;
}

/* ------- Player list ------- */

#player-list-contanaire {
	display: flex;
	justify-content: flex-end;
}

.player-contenaire {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: 10px;
}

.player-contenaire {
	/* Style */
	background-color: rgb(192, 241, 160);
	height: 80px;
	width: 180px;
	min-width: fit-content;
	padding: 10px;

	/* Flex */
	display: flex;
	flex-direction: row;
}

.avatar {
	width: 50px;
	height: 50px;
}

.player-name {
	font-weight: bold;
	font-size: 20px;
}

.player-info {
	display: flex;
	flex-direction: column;
}

.danger-lvl {
	font-size: small;
	font-weight: bold;
	font-style: italic;
	color: red;
}

.en-danger {
	animation: colorbeat 1s infinite;
}

/* ------- Objet info ------- */

#game-info-contanaire {
	display: flex;
	height: 90%;
	align-items: center;
	justify-content: space-around;
}

#objet-contenaire {
	background-color: rgb(110, 105, 250);
	height: 50%;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#objet-contenaire h2 {
	color: white;
}

#quadre {
	height: 200px;
	width: 200px;
	background-color: white;
}

#quadre-contenaire {
	height: 200px;
	width: 200px;
}

#cle {
	display: none;
	position: relative;
	top: -150px;
	left: 40px;
	height: 100px;
}

#coffre {
	height: 100px;
	width: 100px;
}

/* ------- Playing ------- */

#player-playing {
	padding: 20px;
	height: 50%;
	width: 40%;
	background-color: rgb(192, 241, 160);
}

#player-info-contenaire {
	display: flex;
	justify-content: space-between;
}

.user-contenaire,
.info-contenaire {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.heart,
.warning {
	width: 40px;
	animation: heartbeat 1s infinite;
}

/* ------- Screamer ------- */

#screamer {
	/* Position */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* Style */
	display: none;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);

	/* Flex */
	align-items: center;
	justify-content: center;
}

#screamer-img {
	height: 100%;
}

/* ------- Animation ------- */

@keyframes colorbeat {
	0% {
		background-color: rgb(192, 241, 160);
	}
	100% {
		background-color: rgb(241, 160, 160);
	}
}

@keyframes heartbeat {
	0% {
		transform: scale(0.75);
	}
	20% {
		transform: scale(1);
	}
	40% {
		transform: scale(0.75);
	}
	60% {
		transform: scale(1);
	}
	80% {
		transform: scale(0.75);
	}
	100% {
		transform: scale(0.75);
	}
}
