body{
    
   background-image: url('../assets/images/house.png');
   background-color: rgb(25, 1, 72);
   background-size: 100%; 
}

#fondHome{
    
    width: 28%;
    
}

.colorImage{
    -webkit-filter: invert(90%); filter: invert(90%);
    
}

#positionghost{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#positionPlay{
   top: 75%;
   left: 44%;
   text-align: center;
   position: absolute;
   color: rgb(255, 0, 0);
   font-size: 83px;
}

#positionTutorial{
     top: 40%;
     left: 53%;
     text-align: center;
     position: absolute;
     color: rgb(255, 0, 0);
     font-size: 60px;
}
#positionRules{
    top: 40%;
    left: 35%;
    text-align: center;
    position: absolute;
    color: rgb(255, 0, 0);
    font-size: 60px;
}

#positionMaison{
    height: 20%;
    width: 80%;
}

